.footer {
    margin-top:5rem;
    p {
      font:1rem/1.5rem $font-sans-serif;
      letter-spacing:.125rem;
      color:#496B6B;
      margin-top:3rem;
      }
    a {
      color:#496B6B;
      text-decoration:none;
      border-bottom:solid 1px #496B6B;
    }
  }
